body {
    background-color: #001;
}

.container {
    margin-left: 3rem;
    margin-top: .6rem;
    max-width: 1000px;
}

* {
    font-family: Arial, Helvetica, sans-serif;
    color: palegreen;
}

a {
    color: greenyellow;
}